In [10]:
%matplotlib inline
import matplotlib
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [13]:
data = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=30min&apikey=T694IP72UNMJTRME&datatype=csv')
df = pd.read_csv('intraday_30min_MSFT.csv')

In [14]:
df.head(20)

              timestamp      open      high       low     close   volume
0   2019-05-03 16:00:00  128.8000  129.0300  128.7400  128.8900  2387512
1   2019-05-03 15:30:00  128.7600  128.8300  128.5800  128.8000  1943139
2   2019-05-03 15:00:00  129.0047  129.0500  128.7100  128.7600  1380406
3   2019-05-03 14:30:00  129.2900  129.3100  128.8610  129.0000  1048848
4   2019-05-03 14:00:00  129.1400  129.4200  129.0966  129.2900  1898223
5   2019-05-03 13:30:00  128.6200  129.1450  128.5500  129.1390  1592331
6   2019-05-03 13:00:00  128.6400  128.7500  128.3800  128.6192  1176682
7   2019-05-03 12:30:00  128.3400  128.6400  128.2756  128.6400  1309346
8   2019-05-03 12:00:00  128.5700  128.6150  128.1600  128.3500  1213747
9   2019-05-03 11:30:00  128.4950  128.7725  128.4601  128.5750  1835496
10  2019-05-03 11:00:00  128.0200  128.5944  127.8900  128.4900  1949257
11  2019-05-03 10:30:00  127.8650  128.1800  127.7800  128.0250  1775120
12  2019-05-03 10:00:00  127.3600  127.8600  127.2500  127.8600  2751272
13  2019-05-02 16:00:00  126.4700  126.6300  126.0132  126.0750  2787533
14  2019-05-02 15:30:00  126.3000  126.5400  126.1700  126.4600  1650075
15  2019-05-02 15:00:00  126.4300  126.6400  126.1350  126.3000  1391932
16  2019-05-02 14:30:00  126.0500  126.6950  126.0100  126.4300  1577389
17  2019-05-02 14:00:00  126.2800  126.5300  125.9700  126.0400  1438677
18  2019-05-02 13:30:00  125.7705  126.3500  125.5200  126.2800  1725681
19  2019-05-02 13:00:00  126.2800  126.4600  125.6600  125.7700  1384569